<h1>Timeslots#test</h1>

<% @test.each do |testElem| %>
   Start time: <%= testElem.start_time %> &nbsp;
   End time: <%= testElem.end_time %> &nbsp;
   Start screen: <%= testElem.start_screen %> &nbsp;
   End screen: <%= testElem.end_screen %> &nbsp;
   Visualisation: <%= testElem.visualisation_id %> </br>
<% end %>

Count: <%= @count %>
